.form-container {
  display: inline-block;
  background-color: papayawhip;
}

.order-details {
  text-align: left;
}

.pizza-size-label {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  font-weight: bold;
}

.pizza-size-label p {
  font-size: 12px;
  line-height: 5px;
  font-weight: normal;
}


