.header-container {
  background-color: #f8edeb;
  padding-top: 30px;
  padding-bottom: 20px;
}
 
.lambda-eats {
  margin-left: 40px; 
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: xx-large;
  background-color: #fec89a;
  
}

.nav-container {
  /* background-color: lightpink; */
  /* padding-right: 40px; */
}

.nav {
  flex-direction: row;
  margin-right: 40px;
  margin-top: 10px;
}

.home-link{
  background-color: #ffb5a7;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.help-link{
  background-color: #fcd5ce;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.form-container {
  display: inline-block;
  background-color: #ffefd5;
  margin: auto;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px; 
  padding-bottom: 30px; 
}

.order-details {
  text-align: left;
}

.form-title {
  padding-bottom: 20px;
}

.form-img {
  padding-bottom: 40px;
  width: 100%;
}

.pizza-form-label {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.pizza-form-label p {
  font-size: 12px;
  line-height: 5px;
  font-weight: normal;
}

.error {
  color: red;
}


