.header-container {
  background-color: lightsalmon;
  opacity: 80%; 
}
 
.lambda-eats {
  padding-left: 40px; 
  font-size: xx-large;
  color: orangered;
}

.nav-container {
  background-color: lightpink;
  padding-right: 40px;
  /* flex-direction: row; */
  /* text-align: right; */
}

.nav {
  flex-direction: row;
  /* text-align: right; */
}

.form-container {
  display: inline-block;
  background-color: #ffefd5;
  margin: auto;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px; 
  padding-bottom: 30px; 
}

.order-details {
  text-align: left;
}

.form-title {
  padding-bottom: 20px;
}

.form-img {
  padding-bottom: 40px;
  width: 100%;
}

.pizza-form-label {
  background-color: lightgray;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.pizza-form-label p {
  font-size: 12px;
  line-height: 5px;
  font-weight: normal;
}

.error {
  color: red;
}


