html,
body,
#root {
  width: 100%;
  height: 100%;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto; 
  background-color: #F8EDEB;
  height: 100%;
  width: 100%;
}